<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<title>百度娱乐频道产品库管理系统</title>
<link href="<($smarty.const.STATIC_DIR)>/css/quku.css" rel="stylesheet" type="text/css">
</head>
<style>
body{padding:0;margin:0}
.error-info-position{
		width:100%;
		color: red;
		font-size: 18px; 
		font-weight: bold;
		text-align: center;
		position:absolute;
		top:50%;
		margin-top:-9px
}
</style>
<body>
<div class="error-info-position"><($error_message)> !</div>
</body>
</html>