<html>
<head>
<meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<title>百度基础曲库</title>
<link href="<($smarty.const.STATIC_DIR)>/css/quku.css" rel="stylesheet" type="text/css">
<link href="<($smarty.const.STATIC_DIR)>/css/ui_base.css" rel="stylesheet" type="text/css">

<link href="<($smarty.const.STATIC_DIR)>/js/jquery/ui/themes/jquery.ui.all.css" rel="stylesheet" type="text/css">


<script type="text/javascript" src="<($smarty.const.STATIC_DIR)>/js/jquery/jquery-1.6.js"></script>
<script type="text/javascript" src="<($smarty.const.STATIC_DIR)>/js/jquery/ui/jquery.ui.core.js"></script>
<script type="text/javascript" src="<($smarty.const.STATIC_DIR)>/js/jquery/ui/ui.widget.js"></script>

<!-- 全局自定义 UI组件 -->
<script type="text/javascript" src="<($smarty.const.STATIC_DIR)>/js/util/ui.js"></script>
<!-- 全局配置变量 -->
<script type="text/javascript" src="<($smarty.const.STATIC_DIR)>/js/common/globalConst.js"></script>
<script type="text/javascript" src="<($smarty.const.STATIC_DIR)>/js/common/common.js"></script>

<script type="text/javascript" src="<($smarty.const.STATIC_DIR)>/js/jquery/plugins/jquery.datepicker.js"></script>
<!-- src: http://trentrichardson.com/examples/timepicker/  -->
<script type="text/javascript" src="<($smarty.const.STATIC_DIR)>/js/jquery/plugins/jquery.timepicker.js"></script>
<script type="text/javascript" src="<($smarty.const.STATIC_DIR)>/js/jquery/plugins/ajaxUpload.js"></script>
<script type="text/javascript" src="<($smarty.const.STATIC_DIR)>/js/jquery/plugins/suggest.js"></script>

<!-- 图片裁剪插件 -->
<script type="text/javascript" src="<($smarty.const.STATIC_DIR)>/js/jquery/plugins/jquery.Jcrop.js"></script>


<script type="text/javascript" src="<($smarty.const.STATIC_DIR)>/js/quku.js"></script>
<script type="text/javascript" src="<($smarty.const.STATIC_DIR)>/js/baidu/baidu.js"></script>
<script type="text/javascript" src="<($smarty.const.STATIC_DIR)>/js/baidu/ui/crossFrameDialog.js"></script>
<script type="text/javascript" src="<($smarty.const.STATIC_DIR)>/js/baidu/debug.js"></script>
<script type="text/javascript">
<(if $smarty.get.debug)>
baidu.debug.enable();
<(/if)>
baidu.loader.setJsRoot('<($smarty.const.STATIC_DIR)>/js');
</script>
</head>
<body style="overflow-x:hidden;padding:0;">
<div class="topBar">
	<h1><(if $topTitle)><($topTitle)><(else)><($title)><(/if)></h1>
</div>
<div style="height:30px;clear:both"></div>
