<(extends file="listSearch/abstract.searchBar.html")>
<!-- option define javascript -->
<(block name="optionInit")>


	
	
<(/block)>

<!-- document ready  javascript -->
$(document).ready(function(){
});


	

<!-- 状态  --->
	<(block name="searchStatus_block")>	
	<!-- 发布状态 -->
	<(/block)>
	
	<(block name="searchOrder_block")>	
	<!-- 排序字段 -->
	<(/block)>

	 <(block name="searchTime_block")>
	 <!-- 开始时间 -->
	
	<!-- 结束时间 -->
	<(/block)>
	
	<(block name="searchAudit_block")>
	<!-- 审核状态 -->
	<(/block)>
	
	<(block name="searchDel_block")>
	<!-- 删除状态 -->
	<(/block)>
	
	
	<(block name="searchMatch_block")>
	<!-- 匹配类型 -->
	<(/block)>
	
	
	<(block name="searchScend_block")>
	<!-- 排序 -->
	<(/block)>
	
	<(block name="searchCount_block")>
	<!-- 统计总数 -->
	
	<(/block)>