<(include file="common/header.inc.html" title="Tag列表")>
<link href="<($smarty.const.STATIC_DIR)>/js/jquery/plugins/datePicker.res/datePicker.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="<($smarty.const.STATIC_DIR)>/js/jquery/plugins/datePicker.js"></script>
<script type="text/javascript" src="<($smarty.const.STATIC_DIR)>/js/jquery/plugins/date.js"></script>
<script type="text/javascript" src="<($smarty.const.STATIC_DIR)>/js/jquery/plugins/ajaxUpload.js"></script>
<script type="text/javascript" src="<($smarty.const.STATIC_DIR)>/js/jquery/plugins/suggest.js"></script>
<script type="text/javascript" src="<($smarty.const.STATIC_DIR)>/js/baidu/ui/crossFrameDialog.js"></script>
<script type="text/javascript" src="<($smarty.const.STATIC_DIR)>/js/duplicateName.js"></script>
<script type="text/javascript" src="<($smarty.const.STATIC_DIR)>/js/album.js"></script>
<script type="text/javascript" src="<($smarty.const.STATIC_DIR)>/js/song.js"></script>
<script type="text/javascript" src="<($smarty.const.STATIC_DIR)>/js/picUpload.js"></script>
<script type="text/javascript" src="<($smarty.const.STATIC_DIR)>/js/win.js"></script>
<script type="text/javascript" src="<($smarty.const.STATIC_DIR)>/js/tag.js"></script>
<style type="text/css">
</style>
<body>
	<input type="hidden" name="te_id" id="te_id" value="<($data.te_id)>" />
	<input type="hidden" name="te_category" id="te_category" value="<($data.te_category)>" />
<div id="contentBase">
	<fieldset>
		<legend><label>必填信息</label></legend>
		<table width="100%" class="tb_form">
			<tr>
				<td class="fieldName">tag名字</td>
				<td><input type="text" name="te_name" id="te_name" readonly="readonly" style="background:#F2F2F2;" value="<($data.te_name)>" /></td>
			</tr>
			<tr>
				<td class="fieldName">tag分类</td>
				<td>
					<input type="text" name="te_categoryname" id="te_categoryname" readonly="readonly" style="background:#F2F2F2;" value="<($data.te_categoryname)>" />
					<input type="hidden" name="te_category" id="te_category" value="<($data.te_category)>" />
				</td>
			</tr>
			<tr>
				<td class="fieldName">同义词表(以,逗号分隔)</td>
				<td>
					<textarea name="sameword" id="sameword" rows="8" cols="50" key="true" caption="同义词表"><($data.sameword)></textarea>
					<span id="nb_sameword" style="color:red;"></span>
				</td>
			</tr>
		</table>
	</fieldset>
</div>
<div class="space10"></div>
<table border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>&nbsp;</td>
		<td colspan="3" style="align:center;">
			<input class="button01" type="button" value="保存" onclick="Tag.saveWord();" />
		</td>
	</tr>
</table>
</body>

