.masks{ width:100%; height:100%; position:fixed; _position:absolute; top:0; left:0; display:none}
.wait{ position:fixed;_position:absolute; top:50%; left:50%; width:34px; height:34px; margin:-17px 0 0 -17px; background-image:url("../img/loading.gif")}
.popMain{ border:1px solid #ccc; position:fixed; _position:absolute; overflow:hidden; display:none; font-size:12px}
.popTitle{ border-bottom:1px solid #ccc; background:#EFEFEF; height:28px; line-height:28px; display:none}
.popTitle .text{ float:left; margin-left:6px;}
.popTitle .icon{ float:left; margin:6px 0 0 6px; width:16px; height:16px;}
.popTitle .close{ float:right; margin:9px 8px 0 0; width:10px; height:10px; background:url(../img/close.png) no-repeat; cursor:pointer}
.popContent{ background:#fff; overflow:auto}

.layer_msg{ padding:0 10px 0 110px}
.layer_msg p{ line-height:18px; padding:25px 0 20px; margin:0}
.layer_msg .but{ width:100%; text-align:right; bottom:10px}
.layer_msg .but button{ width:62px; height:24px; line-height:24px; border:none; cursor:pointer; background:url(../img/but.png); margin-left:10px}
.layer_msg .but button:hover{ background-position:0 -43px}
.layer_msg .but button:active{ background-position:0 -83px}

.alert_icon{ background:#fff url(../img/alert.gif) no-repeat 35px 22px}
.right_icon{ background:#fff url(../img/right.gif) no-repeat 35px 22px}
.error_icon{ background:#fff url(../img/error.gif) no-repeat 35px 22px}
.confirm_icon{ background:#fff url(../img/confirm.gif) no-repeat 35px 22px}
