<html>
<head>
<meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<title>百度基础曲库</title>
<link href="<($smarty.const.STATIC_DIR)>/css/quku.css" rel="stylesheet" type="text/css">
<link href="<($smarty.const.STATIC_DIR)>/css/ui_base.css" rel="stylesheet" type="text/css">
<!-- <link href="<($smarty.const.STATIC_DIR)>/js/jquery/ui/themes/jquery.ui.all.css" rel="stylesheet" type="text/css"> -->
<link rel="stylesheet" href="<($smarty.const.STATIC_DIR)>/css/p_openuser.css">

<script src="<($smarty.const.STATIC_DIR)>/js/jquery/jquery-1.8.3.js" type="text/javascript"></script>
<script src="<($smarty.const.STATIC_DIR)>/js/common/json2.js" type="text/javascript"></script>
<script src="<($smarty.const.STATIC_DIR)>/js/jquery/jquery-ui-1.10.1.min.js" type="text/javascript"></script>
<script src="<($smarty.const.STATIC_DIR)>/js/components/dialog.js" type="text/javascript"></script>
<script src="<($smarty.const.STATIC_DIR)>/js/openuser/openuser.form.js" type="text/javascript"></script>
</head>
<body style="overflow-x:hidden;padding:0;">
<div class="topBar">
	<h1><(if $topTitle)><($topTitle)><(else)><($title)><(/if)></h1>
</div>
<div style="height:30px;clear:both"></div>








