<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style>
body{
	margin:0px;padding:0px
}
</style>
<script type="text/javascript">
function menuOC(){
	if(parent.document.getElementById('homeFrame').cols=='215,9,*'){
		parent.document.getElementById('homeFrame').cols='0,9,*';
	}else{
		parent.document.getElementById('homeFrame').cols='215,9,*';
	}
}
</script>
</head>
<body bgcolor="#EEEEEE" onmousemove="this.bgColor='#cccccc'" onmouseout="this.bgColor='#EEEEEE'" onclick="menuOC()">
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><img src="<($smarty.const.STATIC_DIR)>/img/menutool.gif" style="cursor:hand" /><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

</body>
</html>