<(extends file="song/abstract.form.inc.html")>




<(block name="initHead")>
<(include file="common/childStationHeader.inc.html" title="单曲管理 &gt; 修改单曲")>

<($formAction="doEditInDialog")>


<(/block)>


jQuery(document).ready(function (){
<(block name="inline_js")>
	quku_v.songForm.formArray.setValue(quku_v.song.data);	
	 var station = new baidu.ui.crossFrameDialog.ChildStation();
	 var songId = station.getData();
	 songId = songId ? songId : '';
	 $('#songId').val(songId);
	
<(/block)>
});

  <(block name="initStyle" append)>
	.x-layout-item {
		width: 48% !important;
	}
	.x-component-label {
	   width: 80px  !important;
	}
 <(/block)>
 
 <(block name="addContainerType" append)>
     <input type="hidden" id ="container" value="doActionIndialog" />
<(/block)>